<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link( rel="stylesheet" href="/css/bootstrap.min.css")
        link( rel="stylesheet" href="/css/main.css")
        title #{title}
    body    
        div.container
            div.row
              h1 #{mainheader}
                p Pug provides four ways of getting plain text — that is, any code or text content that should go, mostly unprocessed, directly into the rendered HTML. They are useful in different situations.

                  ul.toflx
                    li
                        a(href="http://localhost:3000/") Home
                        a(href="http://localhost:3000/about") About us
                        a(href="http://localhost:3000/contact") Contact us

    