header
   div.container
            div.row
              h1 #{mainheader}
                ul.toflx
                    li
                        a(href="http://localhost:3000/") Home
                        a(href="http://localhost:3000/about") About us
                        a(href="http://localhost:3000/contact") Contact us
                           