<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Home
        link(rel="stylesheet", type="text/css", href="css/styles.scss")
        script(type="text/javascript" src="http://livejs.com/live.js")
    body
        include ./partials/header.pug
        // there you can include your main ui
        include ./partials/footer.pug